<h1>Add a new book</h1>

<%= form_for @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :authors %>

    <%= f.collection_select(:authors, Author.all, :id, :name,  { :prompt => "Select the author(s)" }, { :multiple => true, class: "author-select" } ) %>

  </div>

  <div>
    <%= f.label :format %>
    <%= f.collection_select :format, Format.all, :id, :name %>
  </div>

  <div>
    <%= f.label :base_price %>
    <%= f.text_field :base_price %>
  </div>

  <div>
    <%= f.label :release_date %>
    <%= f.text_field :release_date, placeholder: "mm/dd/yyyy", data:{ provide: "datepicker" } %>
  </div>


  <div>
    <%= f.submit "Add Book", class: "button" %>
  </div>
<% end %>
